/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #f08a24;
$--color-success: #2f9e83;
$--color-warning: #ffb703;
$--color-danger: #d9485f;
// $--color-info: #1E1E1E;

$--button-font-weight: 600;

// $--color-text-regular: #1f2d3d;

$--border-color-light: #e7ddcf;
$--border-color-lighter: #f1e8db;

$--table-border: 1px solid #eee3d4;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
